* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

#container {
  width: 100%;
  height: 100vh;
  background: #1f1f1f;
}

#canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: crosshair;
}

#gameover, .alert, #alert {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.alert-box {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 40px;
}

.alert-lose {background: rgba(255, 2, 2, 0.9)}
.alert-win {background: rgba(34, 196, 6, 0.9)}

.alert-box button {
  padding: 10px 16px;
  font-size: 30px;
  cursor: pointer;
}

#play {
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.9);
  text-align: center;
  line-height: 100vh;
  color: white;
  font-weight: bold;
}

#timer {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 150px;
  border: 5px solid lightblue;
  background: white;
  display: flex;
  justify-content: center;
  font-size: 80px;
  font-weight: bold;
  align-items: center;
}