* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

#container {
  width: 100%;
  height: 100vh;
  background-image: url('images/bg-rumput.jpg');
}

#canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: crosshair;
  transition: 3s;
}

#gameover, .alert, #alert {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.alert-box {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

.alert-lose {
  background: rgb(0,0,0,.9);
  color: red;
  z-index: 999;
}
.alert-win {
  background: rgb(34, 196, 6);
  color: white;
  z-index: 999;
}

.alert-timeout {
  background: red;
  color: white;
  z-index: 998;
}

.alert-box button {
  padding: 10px 16px;
  font-size: 30px;
  cursor: pointer;
}

#play {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.9);
  /* text-align: center; */
  /* line-height: 100vh; */
  color: white;
  font-weight: bold;
}

#timer {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 150px;
  border: 5px solid lightblue;
  background: white;
  display: flex;
  justify-content: center;
  font-size: 80px;
  font-weight: bold;
  align-items: center;
}

#getReady {
  color: white;
  font-weight: bold;
  position: absolute;
  z-index: 9999;
  font-family: Arial, Helvetica, sans-serif;
  display: none;
  cursor: crosshair;
}

button#play-btn {
  padding: 15px;
  width: 100px;
  background-color: yellow;
  border: none;
  font-size: 21pt;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
}

.logo {
  width: 400px;
  height: 80px;
  background: orange;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

#count {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dialog {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-box {
  width: 80%;
  height: 300px;
  display: flex;
  justify-content: space-between;
}

.dialog-right, .dialog-left {
  width: 47%;
  height: 100%;
}

.dialog-left {background: red;}
.dialog-right {background: green;}